* {box-sizing: border-box;}

.grid {
  width: 100%;
  display: grid;
  grid-auto-flow: dense;

  @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 45vw;
  }

  @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 40vw;
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 22vw;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 15vw;
  }

}

.article-grid {
  width: 100%;
  display: grid;
  grid-auto-flow: dense;

  @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 38vw;
  }

  @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 22vw;
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 18vw;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 14vw;
  }

}

.item {
    position:relative;
    margin: 10px;
}

.item div.overlay {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}


.item div.overlay h3{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.3rem;
    color: $sta-secondary;
}

.item div.overlay p{
    color: $sta-secondary;
}

.item div.overlay div.hover {
opacity: 0;
text-decoration: none;
}

.item:hover div.overlay div.hover {
opacity: 1;
color: white;
}

.tint {
    position: relative;
    float: left;
}
.tint:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(68, 79, 85, 0.1);
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
}
.tint:hover:before {
    background: rgba(68, 79, 85, 0.82);
  }

.square {
  grid-row: span 2;
  grid-column: span 2;
}
.tall {
  grid-row: span 2;
  @media (--phone) {
    grid-row: span 4;
    grid-column: span 2;
  }
}
.wide {
  grid-column: span 2;
}
