{{- define "main" -}}
{{ $class := "hero_image"}}

<style><!-- layout is team-single --></style>

<article class="article">
  {{ partial "hero_partial" (dict "page" . "class" $class) }}

  <div class="article-container">
    <div class="row">
      <div class = "col-sm-10 offset-sm-1 col-md-6 offset-md-3">
        {{ $image_role := .Params.avatar }}
        {{ $path := "images"}}
        {{ partial "image" (dict "page" . "image_role" $image_role "path" $path)}}
      </div>
    </div>
    <div class="row">
    <div class="article-style">
      <h1> {{.Params.name }} </h1>
      <h2> {{.Params.bio}} </h2>
        {{ .Content }}
      </div>
    </div>
    {{ partial "contact_form" . }}
  </div>
</article>

{{- end -}}
