{{/* Display author list. */}}

{{- $taxonomy := "team" }}
{{ with .Param $taxonomy }}
  {{ $link_team := site.Params.link_team | default true }}
  {{ range $index, $value := . }}
    {{- $profile_page := site.GetPage (printf "/%s/%s" $taxonomy (. | urlize)) -}}
    {{- $name := $profile_page.Params.name | default ($value|markdownify) -}}
    {{- if gt $index 0 }}, {{ end -}}
    <span>
      {{- if and $profile_page $link_team -}}
        <a href="{{$profile_page.RelPermalink}}">{{$name}}</a>
      {{- else -}}
        {{$name}}
      {{- end -}}
    </span>
  {{- end -}}
{{- end -}}
