{{ if and site.Params.sharing (ne .Params.share false) }}
<div class="share-box" aria-hidden="true">
  <ul class="share">
    {{ range where site.Data.page_sharer.buttons "enable" true }}
      {{ $link := replace .url "{url}" ($.Permalink | htmlEscape) }}
      {{ $link = replace $link "{title}" ($.Title | htmlEscape) }}
      <li>
        <a href="{{$link|safeURL}}" target="_blank" rel="noopener" class="share-btn-{{.id}}">
          <i class="fas {{.icon}}"></i>
        </a>
      </li>
    {{ end }}
  </ul>
</div>
{{ end }}
